
*{
    margin: 0;
    padding: 0;
}
nav ul{display: flex;
    align-items: center; 
    background-color:rgb(209, 186, 186);   
    list-style: none; 
    align-items: center;
    padding: 0 3em;
    margin: 0;
  }
     
  ul li{
    font-weight: bold;
    font-family: serif;
    margin: 0 1em;
     border-radius: 10px;
     text-decoration: none;}
  
  li#logo {
    margin-right: auto;
    text-decoration: none;
  }
  li a{text-decoration: none;}
  li a :hover{
    background-color:cyan ;
  }
  li a :visited{
      background-color: yellow;
  }
  li a :focus{
      background-color:red;
  }


#image2{width: 60px; height: 60px;}
#hom img{width: 150px;height: 120px;}
h1{
    margin-left: 1em;
}
.hom2 video{
    width:100%;
    height: 100%;
}

#nolawi video{
    width: 100%;
    height: 100%;
}

main{background-color:rgb(240, 255, 249);}

.mhret{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "a b c"
                         "a b c"
                         "a b c";
    
}
#xx img{
    width:200px;
    height:250px ;

}

.hom{
    grid-area: a;
    margin: 0 1em ;
    
}
.hom2{
    grid-area: b;
    margin-right: 1em;
    margin-left: 1em;
    
}
.home3{
    grid-area: c;
    padding:0 0 0 1em;

    
    
}
footer{
    display:flex;
    list-style: none;
    background-color:rgb(209, 186, 186);  }

#ll{padding-left:60% ;}
#kl{padding-left: 100px;}

